<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <script src="vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div id="todolist">
<h1>To Do LIST</h1>
<input type="text" v-model="newtodo" @keyup.enter="addtodo"/>
<button @click="addtodo">+</button>
<ul>
    <li v-for="todo,index in todos" @dbclick="editodo(todo)">
        <input type="checkbox" v-model="todo.done" :id="todo.id"/>
        <label :class="{'checked':todo.done}" :for="todo.id">第{{index+1}}件事:{{todo.title}}</label>
        <input type="button" value="-" class="close ml-auto" @click="removetodo(index)" aria-label="Close">
        </input>
        </div>
    </li>
</ul>
</div>
    
<script type="text/javascript">
let todolist =new Vue({
    el:"#todolist",
   data:{
       newtodo:"",
       todos:[],
       cachetodo:{},
       cachetitle:"",
   },
   methods:{
       addtodo:function(){
           let value=this.newtodo;
           if(!value){
               return;
           }
           this.todos.push({
               title:value,
               done:false
           });
           this.newtodo="";
       },
       removetodo:function(index){
        this.todos.splice(index,1);
       },
       edittodo:function(todo){
        console.log(todo);
        this.cachetodo=item;
        this.cachetitle=item.title;
       },
       canceledit:function(){
            this.cachetodo={};
       },
       doneedit(todo){
        todo.title=this.cachetitle;
        this.cachetitle="";
        this.cachetodo={};
       }
   }
   
})

</script>
<style>
    .checked{
        text-decoration: line-through;
        color:grey;
    }
</style>
</body>
</html>
